services:
  db:
    container_name: postgres-spring-boot-task2
    image: postgres:latest
    environment:
      POSTGRES_USER: rraiyhz
      POSTGRES_PASSWORD: password
      PGDATA: /data/postgres
    volumes:
      - db:/data/postgres
    ports:
      - "5335:5432"
    networks:
      - db
    restart: unless-stopped

networks:
  db:
    driver: bridge
volumes:
  db: