body{
    background-color: blanchedalmond;
}

table, th, td { border: 1px solid black; border-collapse: collapse; padding: 8px; }
section { margin-top: 20px; }
button { margin-right: 10px; padding: 10px; cursor: pointer; }


